<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
<div class="container">
  <div id="content">
    <div id="main-content">
      !!IMPORTAR ROTEIRO ESCOLHIDO
      <br>!!IMPORTAR QUESTOES DO ROTEIRO ESCOLHIDO

      <br>
      <br>
      <br>!!TEMPLATE
      
      <br>
      <!-- template hard coded -->
      Roteiro de Requisitos
      <br><br>
      <mat-divider></mat-divider>
      1 - TEXTO ESCRITO PELO PROFESSOR PARA QUESTAO 1
      <br>
      <textarea id="respostaAlunoQuestao1"></textarea> 
      <br>
      
      <button mat-button style="background-color:orange; margin:5px">Não sei</button>  
      <button mat-button style="background-color:green;">Confirmar</button>       
      <br><br>

      <mat-divider></mat-divider>
     

     <br>
      <!-- <ng-container *ngIf="user | async; let user">
      <div>
        (numero) {{ questao.text }}
        //if locked replace questao.text e textarea por <mat-icon>lock</mat-icon>
      </div>
      </ng-container> -->
      

    </div>
  </div>
</div>
