<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">

  <script>
  function nextQuestao(nameDiv){
    alert(nameDiv);
  }
  </script>
<div class="container">
  <div id="content">
    <div id="main-content">
      !!IMPORTAR ROTEIRO ESCOLHIDO
      <br>!!IMPORTAR QUESTOES DO ROTEIRO ESCOLHIDO

      <br>
      <br>
      <br>!!TEMPLATE

      <br>
      <!-- template hard coded -->
      Roteiro de Requisitos
      <br><br>
      <mat-divider></mat-divider>
      <div name="questao-1" *ngIf = "visibleQuestions[1]">
      1 - TEXTO ESCRITO PELO PROFESSOR PARA QUESTAO 1
      <br>
      <textarea id="respostaAlunoQuestao1"></textarea>
      <br>

      <button mat-button style="background-color:orange; margin:5px">Não sei</button>
      <button mat-button style="background-color:green;" (click)='nextQuestao($event,1)'>Confirmar</button>
      <br><br>

      </div>


      <mat-divider></mat-divider>
      <div name="questao-2"  *ngIf = "visibleQuestions[2]">

        2 - TEXTO ESCRITO PELO PROFESSOR PARA QUESTAO 2
        <br>

        <textarea id="respostaAlunoQuestao2"></textarea>

        <br>

        <button mat-button style="background-color:orange; margin:5px">Não sei</button>
        <button mat-button style="background-color:green;" (click)='nextQuestao($event,2)'>Confirmar</button>
        <br><br>
      </div>


     <br>
      <!-- <ng-container *ngIf="user | async; let user">
      <div>
        (numero) {{ questao.text }}
        //if locked replace questao.text e textarea por <mat-icon>lock</mat-icon>
      </div>
      </ng-container> -->


    </div>
  </div>
</div>