<div class="container">
  <div id="content">
    <div id="main-content">
      <mat-tab-group>
        <mat-tab label="Cadastrar Roteiro">
          <!-- !!TELA CADASTRAR ROTEIRO -->
          <cadastrar-roteiro></cadastrar-roteiro>
        </mat-tab>
        <mat-tab label="Responder Roteiro">
          <!-- !!TELA RESPONDER ROTEIRO -->
          <responder-roteiro></responder-roteiro>
        </mat-tab>
        <mat-tab label="Notas">
          !!TELA NOTAS
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
